header { 
    align-items: center;
    padding: 1%;
  }

  header h1 {
    display: inline-block;
    font-family: Krungthep;
    font-style: italic;
    color: white;
    text-shadow: 1px 2px black;
  }

  header nav {
    float: right;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  nav a { 
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px; 
    font-size: x-large;
    color: white;
    text-shadow: 1px 2px black;
  }
  
  nav a:hover { 
    text-decoration: underline;
  }

  .w3-animate-left {
    animation: animateleft 1.25s;
  }

  a {
      color: blue;
  }

  figure {
    margin: 1em 2em;
    padding: 5px 3%;
  }

  .jumbo {
    border: 10px solid red;
    border-radius: 50px;
  }

  .w3-row {
      margin-top: 16px;
  }

  #mySidebar {
    border-radius: 8px;
  }


  footer.container {
    display: flex;
  }