header { 
    align-items: center;
    padding: 1%;
  }

  header h1 {
    display: inline-block;
    font-family: 'Bungee', cursive;
    font-style: italic;
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.66);
  }

  header nav {
    float: right;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  nav a { 
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px; 
    font-size: x-large;
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.66);
  }
  
  nav a:hover { 
    text-decoration: underline;
  }

  .w3-animate-left {
    animation: animateleft 1.25s;
  }

  a {
      color: blue;
  }

  figure {
    margin: 1em 2em;
    padding: 5px 3%;
  }

  .jumbo {
    border: 8px solid red;
    border-radius: 32px;
    background-color: white;
  }

    .newsbox a.w3-xxlarge {
    font-size: 28px!important;
  }

  .newsbox .w3-column-container {
    padding: 0.0em 0px;
  }

  .newsbox p.w3-small {
      font-style: italic!important;
  }

  .w3-twothird{
    width: 64.66666%;
    margin-left: 2%;
  }

  #results-container h2 {
      text-decoration: underline;
      font-size: 28px;
  }

  /*
  a.w3-bar-item.w3-button.testing-site {
      text-decoration: underline!important;
  }

  a.w3-bar-item.w3-button.testing-site:hover {
      
  }
*/

  select {
    font-size: 21px;
  }

  .videobox {
      width: 100%;
      height: auto;
  }

  .w3-row {
      margin-top: 16px;
      margin-bottom: 16px;
  }

  footer.container {
    display: flex;
    padding: 0px 20px;
  }

  @media (max-width: 982px) {
    header h1 {
        font-size: 28px;
    }

        nav a {
            font-size: large;
        }
    }

  @media (max-width: 768px) {
    header {
        text-align: center;
        padding: 0%;
      }

    header nav {
        float: none;
        padding: 0 10%;
        }
    
    header h1 {
        display: inline-block;
        width: 100%;
        }

        nav ul {
            margin: 0px 0px;
            display: block;
        }

        nav a {
            font-size: medium;
        }

        .w3-row {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }

        .w3-col.m8, .w3-twothird {
            width: 100%;
            margin-left: 0%;
        }
    
        .w3-col.m4, .w3-third {
            width: 100%;
        }
    
  }

  @media (max-width: 601px) {

    header nav {
        float: none;
        padding: 0 0%;
    }

    .w3-col.m8, .w3-twothird {
        width: 100%;
        margin-left: 0%;
    }

    .w3-col.m4, .w3-third {
        width: 100%;
    }


    footer.container {
        display: block;
    }
  }
